.auth0-button {
    /* background: #fb7f16; */
    margin-right: 3rem;
    color: #fb7f16;
    border-radius: 0.3rem;
    border: 3px solid #fb7f16;
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
}

.auth0-button p {
    font-size: 0.8rem;
}

.auth0-button:hover {
    cursor: pointer;
    background: rgb(225, 225, 225);
    transition: background-color 0.5s ease-in-out;
}