.details-section {
    box-sizing: border-box;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    margin-top: 0.4rem;
    padding: 2rem;
    align-items: center;
}

.details-section .image {
    box-sizing: inherit;
    width: 40%;
    /* border: 1px solid red; */
    padding: 1rem;
    display: flex;
    height: 24rem;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0 0.6rem 1.5rem rgba(0,0,0,0.2);
}

.property-details {
    font-family: 'Poppins';
    padding: 0.8rem;
    margin-left: 0.8rem;
    margin-top: 0.4rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    /* border: 1px solid cyan; */
}

#property-name {
    font-size: 2.6rem;
}

#property-rent-corp {
    font-weight: 500;
    margin-top: 0.3rem;
}

#property-address {
    font-weight: 300;
    font-size: 1.4rem;
    margin-top: 0.3rem;
}


.actions {
    margin-top: 2rem;
    width: 70%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}

#update-property {
    width: 45%;
    height: 2.8rem;
    border: none;
    background-color: #006cff;
    color: white;
    font-family: 'Poppins';
    font-size: 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
}

#delete-property {
    width: 45%;
    height: 2.8rem;
    border: none;
    background-color: #ff004e;
    color: white;
    font-family: 'Poppins';
    font-size: 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
}

#delete-modal {
    margin: 0 auto;
    height: 14rem;
    width: 30rem;
    background-color: #eeeeee;
    padding: 1.5rem;
    border-radius: 1.3rem;
    display: flex;
    flex-direction: column;
}

#confirmation{
    font-family: 'Poppins';
    margin-top: 0.5rem;
}

.reviews-container {
    width: 100%;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
}

.review-section {
    margin-bottom: 1.5rem;
}

.review-header {
    margin-left: 3rem;
    font-family: 'Poppins';
}

.review-header h1 {
    font-size: 2.4rem;
    margin-bottom: -0.5rem;
}


.review-header #rating {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.review-header #rating h2 {
    font-weight: 500;
}

#numratings{
    font-weight: 500;
}

.divider {
    height: 0.7rem;
    width: 30%;
    background-color: black;
    margin: 1rem 1rem 2rem 0rem;
}

.rating-container {
    margin-top: -0.6rem;
 display: flex;
 align-items: center;
 margin-right: 0.8rem;
}

.add-review {
    margin-left: 3rem;
    margin-bottom: 2rem;
}

.add-review button {
    width: 14%;
    outline: none;
    cursor: pointer;
    height: 3rem;
    border: none;
    background-color: #46e002;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
    color: white;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1rem;
    border-radius: 0.8rem;
}

#add-review-modal {
    margin: 0 auto;
    height: 31.3rem;
    width: 60rem;
    background-color: #eeeeee;
    padding: 1.5rem;
    border-radius: 1.3rem;
    display: flex;
    flex-direction: column;
}



.review-inp[placeholder='Your name'] {
    width: 60%;
}

.review-inp[placeholder='Your rating'] {
    width: 50%;
}

textarea {
    resize: none;
    height: 8rem !important;
}

textarea::-webkit-scrollbar-track {
    background-color: transparent;
}

textarea::-webkit-scrollbar {
    width: 0.5rem;
    background-color: transparent;
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgba(92, 92, 92, 0.842);
    border-radius: 3rem;
}

.review-labels {
    font-family: 'Poppins';
    margin-top: 0.8rem;
    margin-left: 0.2rem;
    margin-bottom: -0.3rem;
}

#update-modal {
    margin: 0 auto;
    height: 28rem;
    width: 20rem;
    background-color: #eeeeee;
    padding: 1.5rem;
    border-radius: 1.3rem;
    display: flex;
    flex-direction: column;
}

#update-modal input[type="submit"] {
    box-sizing: border-box;
    width: 100%;
    height: 3rem;
    outline: none;
    border: none;
    border-radius: 0.3rem;
    background-color: #46e002;
    font-size: 1.2rem;
    color: white;
    font-family: 'Poppins';
    font-weight: 500;
    margin-top: 1.5rem;
    cursor: pointer;

}