body {
    overflow: overlay;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 0.5rem;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(92, 92, 92, 0.842);
    border-radius: 3rem;
}
