.review-card {
    width: 85%;
    /* border: 1px solid black; */
    margin-left: 3rem;
    margin-right: 3rem;
    background-color: #e1dfdf;
    padding: 0.6rem 1.2rem 1rem 1.2rem;
    font-family: 'Poppins';
    margin-bottom: 1rem;
}

.review-card h1 {
    font-size: 1.8rem;
    margin-bottom: -0.8rem;
}

#review-date {
    font-size: 0.9rem;
    color: #504f4f;
    margin-top: 0.2rem;
}

#review-content {
    margin-top: 0.2rem;
}